{block content}
	<div class="card">
		<div class="card-header">
			<div class="card-title">
				<h2>Vytvořit nový předmět</h2>
			</div>
		</div>
		<div class="card-body">
			{control createSubjectForm}
		</div>
	</div>
{/block}