{block content}
	<div class="card">
		<div class="card-header">
			<div class="card-title"><h2>Předmety</h2></div>
		</div>
		<div class="card-body">
			<br><br>
			<table class="display data-grid">
				<thead>
				<tr>
					<th>Jméno</th>
					<th>Skupina ke které se váže</th>
					<th>Akce</th>
				</tr>
				</thead>
				<tbody>

					<tr n:foreach="$data as $item">
						<th><a n:href="Subject:edit $item->subject->id">{$item->subject->name}</a></th>
						<th><a n:href="Group:edit $item->group->id">{$item->group->name}</a></th>
						<th><a n:href="Subject:edit $item->subject->id"><i class="fas fa-edit"></i></a>
							<a class="create-group-grid action-delete" n:href="Subject:deleteSubject $item->subject->id"><i class="fas fa-trash-alt"></i></a>
						</th>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-12 col-md-10">
			<a n:href="Subject:create" class="btn-primary btn">Založit nový předmět</a>
		</div>
	</div>
{/block}