{block content}
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="card">
				<div class="card-header">
					<div class="card-title">
						<h2>Nový test pro {$data->name}</h2>
					</div>
					<a class="btn" n:href="Subject:editExam $idExam,$data->id,1">Změnit vykreslování na klasické.</a>
				</div>
				{form addExamForm}
					<div class="colsm-12 col-md-10">
						{label name}
						{input name class=>'form-control'}
						{label max_points}
						{input max_points class=>'form-control'}
						{input idExam}
						{input idSubject}
					</div>
					<table class="data-grid display" id="edit-exam-grid">
						<thead>
						<tr>
							<th>Jméno</th>
							<th>Zadejte počet bodů</th>
							<th>Přepočet na procenta</th>
						</tr>
						</thead>
						<tbody>
						<tr n:foreach="$data->group->users as $_user">
							<th>
								{if $_user->surname == 'Uživatel'}
									{$_user->username}
								{else}
									{$_user->surname}
								{/if}
							</th>
							<th>{input 'user_'.$_user->id class=> 'points-input'}</th>
							<th></th>
						</tr>
						</tbody>
					</table>
					<div class="text-center">
						<button type="submit" class="btn-primary btn col-sm-12">Odeslat</button>
					</div>
				{/form}
			</div>
		</div>
	</div>
{/block}

