{block content}
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="card">
				<div class="card-header">
					<div class="card-title">
						<h2>Žáci pro {$data->name}</h2>
					</div>
				</div>
				<table class="data-grid display">
					<thead>
					<tr>
						<th>Jméno</th>
						<th>Body</th>
						<th>Známka</th>
					</tr>
					</thead>
					<tbody>
					<tr n:foreach="$data->group->users as $_user">
						<th>   {if $_user->surname == 'Uživatel'}
								{$_user->username}
							{else}
								{$_user->surname}
							{/if}</th>
						<th>{$_user->points} / {$data->maxPoints}</th>
						<th
								  style="
						color:{\Helper::getColor(
								  \Helper::getMark($data,$data->maxPoints,$_user->points)
								  )|noescape}"
						>{\Helper::getMark($data,$data->maxPoints,$_user->points)}</th>
					</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="col-sm-12 col-md-6">
			<div class="card">
				<div class="card-header">
					<div class="card-title">
						<h2>Testy</h2>
					</div>
					<a n:href="Subject:addExam $data->id" class="btn-primary btn">Přidat test</a>

				</div>
				<div class="card-body">
					<table class="data-grid display">
						<thead>
						<tr>
							<th>Jméno</th>
							<th>Max b.</th>
							<th>Průměr b.</th>
							<th>Průměr</th>
							<th>Akce</th>
						</tr>
						</thead>
						<tbody>
						<tr n:foreach="$exams as $exam">
							<th>{$exam->name}</th>
							<th>{$exam->max_points}</th>
							<th>{$exam->class_avarege} b.
								({\Helper::getPercent($exam->max_points,$exam->class_avarege)} %)
							</th>
							<th>
								{\Helper::getAveregeMark($exam->max_points,$exam->class_avarege)}</th>
							<th>
								<a n:href="Subject:editExam $exam->id, $data->id"> <i class="fas fa-edit"></i></a>
								<a class="action-delete" n:href="Subject:deleteExam $exam->id,$data->id"><i class="fas fa-trash-alt"></i></a>
							</th>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-sm-12">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col-sm-7">
							<div class="numbers pull-left">
								Graf
							</div>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
						<div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
							<div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
						</div>
						<div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
							<div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
						</div>
					</div>
					<h6 class="big-title">Graf výsledků testů</h6>
					<canvas id="myChart" width="400" height="400"></canvas>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="card">
				<div class="card-header">
					<div class="card-title">
						<h2>Změnit nastavení</h2>
					</div>
				</div>
				<div class="card-body">
					{control createSubjectForm}
				</div>
			</div>
		</div>
	</div>
{/block}
{block js }
	<script> var data = {$examGraphData|noescape}</script>
	<script>
		var ctx = document.getElementById("myChart").getContext('2d');
		var myChart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: data.labels,
				datasets: [{
					label: 'Testy',
					data: data.data,
					backgroundColor: 'rgb(255, 99, 132)',
					borderColor: 'rgb(255, 99, 132)',
					borderWidth: 3
				}]
			},
			options: {
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true
						}
					}]
				}
			}
		});

		var dynamicColors = function () {
			var r = Math.floor(Math.random() * 255);
			var g = Math.floor(Math.random() * 255);
			var b = Math.floor(Math.random() * 255);
			return "rgb(" + r + "," + g + "," + b + ")";
		};

	</script>
{/block}