{block content}
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="card">
				<div class="card-header">
					<div class="card-title">
						<h2>Nový test pro {$data->name}</h2>
					</div>
					<a class="btn" n:href="Subject:editExam $idExam,$data->id">Změnit vykreslování.</a>
				</div>
				{control addExamForm}
			</div>
		</div>
	</div>
{/block}