<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/css/libs-{$version}.css">
	<link rel="stylesheet" href="/css/release-{$version}.css">
	<title>{ifset title}{include title|stripHtml} | {/ifset}MyMarks</title>
</head>
<body>
<body class="">
<div class="wrapper ">
{control menu}
		<div class="content">
			{include content}
		</div>
		<footer class="footer footer-black  footer-white ">
			<div class="container-fluid">
				<div class="row">
					<nav class="footer-nav">
						<ul>
							<li>
								<a href="/cs/{strtolower($presenter->getName())}">Česky</a>
							</li>
							<li>
								<a href="/en/{strtolower($presenter->getName())}">English</a>
							</li>
							<li>
								<a href="/dokumentace.pdf" target="_blank">Dokumentace</a>
							</li>
						</ul>
					</nav>
					<div class="credits ml-auto">
              <span class="copyright">
                ©
                <script>
                  document.write(new Date().getFullYear())
                </script>, made by <a href="https://www.facebook.com/ali.amjid.9">Ali Amjid.</a> Version <b>{$version}</b>
              </span>
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>

<script src="/js/libs-{$version}.js"></script>
<script src="/js/release-{$version}.js"></script>
{block js}
{/block}
{foreach $flashes as $flash}
	<script>
		swal({
			position: 'top-end',
			type: {$flash->type},
			title: {$flash->message},
			showConfirmButton: false,
			timer: 3000
		})
	</script>
{/foreach}
{foreach $alerts as $alert}
	<script>
		Swal({
			title: '<strong>{$alert->title}</strong>',
			type: {$alert->type},
			html:{$alert->html},
			showCloseButton: {$alert->showCloseButton},
			showCancelButton: {$alert->showCancleButton},
			focusConfirm: {$alert->focusConfirm},
			confirmButtonText:{$alert->confirmButtonText},
			confirmButtonAriaLabel: {$alert->confirmButtonAriaLabel},
			cancelButtonText: {$alert->cancelButtonText},
			cancelButtonAriaLabel:{$alert->cancelButtonAiraLabel},
		})
	</script>
{/foreach}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131615469-1"></script>
</body>
</html>
