{block content}
	<div class="card card-user col-md-12">
		<h1 class="text-center">{$article->name}</h1>
	</div>
	<div class="card">
		<h2>Obrazek pro slider </h2>
	<img src="{$article->slider}" alt="" width="1800" height="600">
	</div>
	<div class="row">
	<div class="card col-md-6">
		<h2>Obrazek pro malý článek</h2>
		<img src="{$article->small}" alt="" width="400" height="200">
	</div>
	<div class="card col-md-6">
		<h2>Obrazek mobilní slider </h2>
		<img src="{$article->mobile_slider}" alt="" width="400" height="400">
	</div>
	</div>
{/block}