{block content}
	<div class="row">
		<div class="col-sm-12 col-md-9">
			<div class="card">
				<div class="card-header">
					<div class="card-title">
						<h2>Konečné známky z předmětů</h2>
					</div>
				</div>
				<div class="card-body">
					<table class="data-grid">
						<thead>
						<tr>
							<th>Jméno</th>
							<th>Počet bodů</th>
							<th>Percentil</th>
							<th>Známka</th>
						</tr>
						</thead>
						<tbody>
						<tr n:foreach="$subjects as $subject"

							 style="
						background-color:{\Helper::getColor(
							 \Helper::getMark($subject,$subject->maxPoints,$subject->points)
							 )|noescape}"
						>
							<th><a n:href="Dashboard:show $subject->id">{$subject->name}</a></th>
							<th>{$subject->points} / {$subject->maxPoints}</th>
							<th>{$subject->percentil} %</th>
							<th>{\Helper::getMark($subject,$subject->maxPoints,$subject->points)}</th>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-3">
			<div class="card">
				<div class="card-header">
					<div class="card-title">
						<h2>Skuiny do kterých jste zařazen</h2>
					</div>
				</div>
				<div class="card-body">
					<table class="data-grid">
						<thead>
						<tr>
							<th>Jméno</th>
						</tr>
						</thead>
						<tbody>
						<tr n:foreach="$groups as $group">
							<th>{$group->name}</th>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{/block}
