{block content}
	<div class="row">
		<div class="col-sm-12 col-md-9">
			<div class="card">
				<div class="card-header">
					<div class="card-title">
						<h2>Testy v <b>{$subject->name}</b></h2>
					</div>
				</div>
				<div class="card-body">
					<table class="data-grid">
						<thead>
						<tr>
							<th>Jméno</th>
							<th>Počet bodů</th>
							<th>Percentil / průměr třídy</th>
							<th>Známka</th>
						</tr>
						</thead>
						<tbody>
						<tr n:foreach="$exams as $exam"

							 style="
						background-color:{\Helper::getColor(
							 \Helper::getMark($subject,$exam->max_points,$exam->points)
							 )|noescape}"
						>
							<th>{$exam->name}</th>
							<th>{$exam->points} / {$exam->max_points}
							({\Helper::getPercent($exam->max_points,$exam->points)} %)
							</th>
							<th>{$exam->percentil} % / {$exam->class_avarege} b.</th>
							<th>{\Helper::getMark($subject,$exam->max_points,$exam->points)}</th>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-3">
			<div class="card">
				<div class="card-header">
					<div class="card-title">
						<h2>Předmět</h2>
					</div>
				</div>
				<div class="card-body">
					<table class="data-grid disabled-sorting">
						<thead>
						<tr>
							<th></th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<th>Jméno předmětu</th>
							<th>{$subject->name}</th>
						</tr>
						<tr>
							<th>Maximální počet bodů</th>
							<th>{$subject->maxPoints}</th>
						</tr>

						<tr>
							<th>Vaše body</th>
							<th>{$subject->points}</th>
						</tr>
						<tr>
							<th>Finální zmánka</th>
							<th>{\Helper::getMark($subject,$subject->maxPoints,$subject->points)}
							({\Helper::getPercent($subject->maxPoints,$subject->points)}%)
							</th>
						</tr>
						<tr>
							<th>Váš percentil</th>
							<th>{$subject->percentil}</th>
						</tr>
						<tr style="background-color:{\Helper::getColor(1)|noescape}">
							<th>% pro 1</th>
							<th>{$subject->cr_1}</th>
						</tr>
						<tr style="background-color:{\Helper::getColor(2)|noescape}">
							<th>% pro 2</th>
							<th>{$subject->cr_2}</th>
						</tr>
						<tr style="background-color:{\Helper::getColor(3)|noescape}">
							<th>% pro 3</th>
							<th>{$subject->cr_3}</th>
						</tr>
						<tr style="background-color:{\Helper::getColor(4)|noescape}">
							<th>% pro 4</th>
							<th>{$subject->cr_4}</th>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{/block}
