{block content}
	<div class="card">
		<div class="card-header">
			<div class="card-title"><h2>Skupiny</h2></div>
		</div>		<div class="card-body">
			<br><br>
			<table class="display data-grid">
				<thead>
				<tr >
					<th>Jméno</th>
					<th>Zakldatel skupiny</th>
					<th>Počet žáku ve skupiné</th>
					<th>Akce</th>
				</tr>
				</thead>
				<tbody>
				<tr n:foreach="$data as $group">
					<th>{$group->group->name}</th>
					<th>{$group->created_by}</th>
					<th>{$group->count}</th>
					<th><a n:href="Group:edit $group->group->id" ><i class="fas fa-edit"></i></a>
						<a class="create-group-grid" n:href="Group:deleteGroup $group->group->id"><i class="fas fa-trash-alt"></i></a>
					</th>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-12 col-md-10">
		<a n:href="Group:createNew" class="btn-primary btn">Založit novou skupinu</a>
		</div>
	</div>
{/block}