{block content}
	<div class="card">
		<div class="card-header">
			<div class="card-title"><h2>Zvolete žáky pro: <span id="group">{$group->name}</span></h2></div>
			<p style="display: none" id="data-group-id">{$group->id}</p>
		</div>
		<div class="card-body">

			<label for="group-name">Jméno skupiny</label>
			<input type="text" id="group-name" class="form-control" value="{$group->name}">
			<br><br>
			<label for="select-user-for-grid">Zvolte žáky</label>
			<select name="select-user-for-grid" id="select-user-for-grid" multiple></select>
			<label for="invite-new-user">Abstraktní uživatel</label>
			<form id="invite-new-user-form">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<input class="form-control" type="email" placeholder="Pozvěte nového uživatele - zadejte email" id="invite-new-user">
					</div>
					<div class="col-md-6">
						<button class="btn btn-default" id="invite-new-user-button">Pozvat</button>
					</div>
				</div>
			</form>

			<br><br>
			<table id="create-group-grid" class="display">
				<thead>
				<tr>
					<th>Jméno</th>
					<th>Třída</th>
					<th>E-mail</th>
					<th>Akce</th>
				</tr>
				</thead>
				<tbody>
				<tr n:foreach="$users as $student">
					<td data-id="{$student->id}">{$student->firstname} {$student->surname}</td>
					<td>{$student->class}</td>
					<td>{$student->username}</td>
					<td>
						<a n:href="Group:delete $group->id, $student->id_user" class="btn-icon action-delete"><i class="fas fa-trash-alt"></i></a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-sm-6">
		<a class="btn btn-primary" n:href="Group:">Zpět</a>
	</div>
{/block}