<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Pozor! server error na MyMarks! {date('l jS \of F Y h:i:s A')}</title>
</head>
<body>
{$info|noescape}
</body>
</html>