<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Pozvánka k registraci</title>

</head>
<body>
<h1"><span style="font-size: 28pt; font-family: verdana, geneva;">Ahoj!</span></h1>
<p><span style="font-size: 15pt;">Byl jsi pozv&aacute;n do syst&eacute;mu MyMarks.</span></p>
<a href="{$link}">
	<p><span style="font-size: 15pt;">Zde je tvůj registračn&iacute; link&nbsp;</span></p>
	<br>
	<a href="{$link}">{$link}</a>
</a>
<p>&nbsp;</p>
<p><span style="font-size: 15pt;"><img src="{$url}/images/logo.png"/></span></p>
</body>
</html>