{block content}
	<table class="disabled-sorting show-grid settings-grid">
		<thead>
		<tr>
			<th>Název pravomoci</th>
			<th n:foreach="$roles as $role">{_'messages.roles.'.$role->name}</th>
		</tr>
		</thead>
		<tbody>
		<tr n:foreach = "$resources as $resource">
			<th>{$resource->name}</th>
			<th n:foreach="$resource->roles as $role"
				 n:class="$role->isEnabled ? 'switch enabled' : 'switch disabled'"
				 data-resource = "{$resource->id}"
				 data-role = "{$role->id}"
				 data-is-enabled="{$role->isEnabled}">
			</th>
		</tr>
		</tbody>
	</table>
{/block}