{block content}
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">{$user->firstname} {$user->surname}</h4>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table">
							<thead class="">
							<tr>
								<th>
									{_messages.basic.name}
								</th>
								<th>
									{_messages.basic.value}
								</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>
									{_messages.basic.realClass}
								</td>
								<td>
									{$user->class}
								</td>
							</tr>
							<tr>
								<td>
									{_messages.basic.class}
								</td>
								<td>
									{$user->class}
								</td>
							</tr>
							<tr>
								<td>
									{_messages.basic.privilageLvl}
								</td>
								<td>
									{_"messages.roles.".$userRole}
								</td>
							</tr>
							<tr>
								<td>
									E-mail
								</td>
								<td>
									{$user->username}
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-4">
					<a n:href="User:edit $user->id" class="btn btn-primary">Editovat</a>
				</div>
			</div>
		</div>
		<div class="col-sm-12" n:if="$canChangeOthers">
			<div class="card">
				<div class="card-header">
					<div class="card-title">
						<h4>Upravit jiného uživatele</h4>
					</div>
				</div>
				<div class="card-body">
					<div class="col-sm-12">
						<label for="selectUser">Uživatel</label>
						<select name="selectUser" class="form-control" id="selectUser"></select>
					</div>
				</div>
			</div>
			<br><br>
		</div>
	</div>
{/block}

