{block content}
	<div class="card">
		<div class="card-header">
			<div class="card-title"><h4>{_messages.forms.user.title}</h4></div>
		</div>
		<div class="card-body">
			{control userForm}
		</div>
	</div>
{/block}